@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header), Futura, sans-serif;
}


/* Harmonisation des barres de défilement */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bfddf9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0c8f0;
}

.shadow-holographic {
  box-shadow: 0 8px 32px 0 rgba(31, 97, 184, 0.15),
    0 0 20px rgba(255, 255, 255, 0.15) inset;
}

.shadow-pulse {
  filter: drop-shadow(0 0 8px rgba(210, 252, 178, 0.4));
}

.hover\:paused:hover {
  animation-play-state: paused;
}
